<!DOCTYPE html>
<html>
  <head>
    <title>Samantha & Liam</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <p class="text-muted pull-right">
          Questions or Comments?
          <a href="mailto:reidjohnwedding@gmail.com">Email Us!</a>
        </p>
      </div>
    </footer>
  </body>
</html>
